 @import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

:root {
  --nav-color: linear-gradient(#777, #444);
}
/*
.nav {
  background-image: var(--nav-color);
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nav h1 {
  font-size: 2.5rem;
}
.nav-links {
  display: flex;
}
ul {
  padding: 0;
  margin: 0;
}
.nav-links li {
  list-style-type: none;
  margin: 1rem;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}
.user-links {
  border: #000 solid 1px;
  display: flex;
  border-radius: 1rem;
}
.hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-image: var(--nav-color);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

.nav-log-sign:hover {
  background-color: #cfd8dc;
}

.logo {
  font-size: 25px !important;
}

.nav-text {
  font-size: 23px !important;
}

.navBarFont {
  margin: 27px 27px 27px 27px;
  font-family: "Bungee", cursive;
  font-size: 35px;
  color: #494ffe;
}

.navBarFont:hover {
  color: #262984;
}
@media (max-width: 720px) {
  .hamburger-menu {
    display: block;
  }
  .nav-links {
    display: none;
  }
  .nav {
    justify-content: center;
    align-items: center;
  }
  .company-name h1 {
    font-size: 2rem;
  }
  .user-links {
    display: none;
  }
  .login-links {
    display: none;
  }
} */

.nav-container {
  background-image: var(--nav-color);
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links a {
  color: #fff;
  align-self: center;
  margin: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}
.nav-links a:hover {
  color: #fff;
  text-decoration: none;
  scale: 1.08;
  transition: .1s;
}
.nav-links button:hover {
  scale: 1.05;
  transition: .1s;
  border: .5px #000 solid;
}
.logo h1{
  font-size: 1.8rem;
}
