.SearchBar {
    width: 100%;
    font-size: larger;
    color: black;
    border-radius: 5px;
}

.SearchBar input {
    width: 100%;
    border: none;
    font-size: larger;
    color: black;
    box-sizing: border-box;
    border: 1px solid rgb(72, 72, 72);
    outline: none;
    border-radius: 5px;
    text-indent: 10px;
}

.SearchBar ul {
    position: absolute;
    width:inherit;
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

.SearchBar li {
    padding: 10px 5px;
    background-color: white;
    text-indent: 15px;
}

.SearchBar li:hover {
    background-color: rgb(214, 214, 214);
    cursor: pointer;
    text-decoration: underline;
}