.aboutUs p {
    font-size: larger;

}

li {
    font-size: larger;
}

.textBody {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    padding-left: 200px;
    margin-bottom: 25px;
}