
h1 {
    font-weight: 900;
    text-align: center;
}
.useDevbids ul {
    padding: 2rem;
}

.useDevbids li {
    background-color: #e4ebe4;
    margin: .4rem 0;
    padding: .5rem;
    list-style: none;
    font-size: larger;
}
.image {
  width: 100%;
}
.aboutUs p {
  font-size: larger;
}
.jumbotron-background {
    background-image: linear-gradient(#777, #444);
}
.homepage-banner {
    /* Image from https://unsplash.com/s/photos/collaboration */
  background: url('../../../public/img/homepage-banner.jpg') no-repeat center
    center/cover;
  height: 50vh;
  width: 100vw;
}

.textBody {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    padding-left: 200px;
    margin-bottom: 25px;
}
.centerRow {
    justify-content: center;
}
.btn-margin {
  margin: .5rem;
  width: 10rem;
}